<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml:lang="en" lang="en" dir="ltr"">
<head>
	<title>!TITLE!</title>
 	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="robots" content="noindex nofollow">
	<link href="!SITEROOT!admin/images/styles.css" rel="stylesheet" type="text/css">
	<link href="!SITEROOT!admin/images/bt.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="!SITEROOT!admin/images/BubbleTooltips.js"></script>
	<script type="text/javascript">
		window.onload=function(){enableTooltips()};
	</script>
</head>
<body>
<div id="contents">

<div id="HEAD">
	<div class="Left"></div>
	<div class="Right"></div>
</div>

<div id="TOP">
	<div class="Logo">
		<h1><b>ProArcadeScript Administration</b></h1>
		<p>!TOPINFO!</p>
		<ul>
			<li><a href="http://www.proarcadescript.com/">ProArcadeScript home</a></li>
			<li><a href="http://www.proarcadescript.com/forum/">Support Forum</a></li>
			<li><a href="http://www.proarcadescript.com/contact/">Contact Author</a></li>
		</ul>
	</div>
</div>

<div id="NAV">
	<div class="Wrapper">
<!-- BEGIN DYNAMIC BLOCK: dynNav -->	
		<ul>
			<li class="!ATHOME!"><a href="index.php">Admin Home</a></li>
			<li class="!ATSETTINGS!"><a href="settings.php">Site Settings</a></li>
			<li class="!ATBLOCKS!"><a href="blocks.php">Page Blocks</a></li>
			<li class="!ATPAGES!"><a href="pages.php">Pages</a></li>
			<li class="!ATGAMES!"><a href="content.php">Content</a></li>
			<li class="!ATNEWS!"><a href="news.php">News</a></li>
			<li class="!ATCOMMENTS!"><a href="comments.php">Comments</a></li>
			<li class="!ATSTATS!"><a href="stats.php">Stats</a></li>
			<li class="!ATUSERS!"><a href="users.php">Users</a></li>
		</ul>
<!-- END DYNAMIC BLOCK: dynNav -->
	</div>
</div>

<div id="CONTENT">
<div class="Wrapper">
