!ADMINHEADER!
<h2>ProArcadeScript Administration Area Login</h2>

<p>&nbsp;</p>
<div class="SmallForm">
	<p class="Justify">You are not logged in yet, please enter your name and password in the form below to proceed to the administration pages.<br/><br/></p>
	<form class="Form" action="login.php" method="post">
	<div class="Block">
		<div class="Title">Admin Login</div>
		<div class="Input"><input value="!LOGIN!" class="Text" type="text" name="login" /><span class="Error">!LOGINERROR!</span></div>
	</div>
	<div class="Block">
		<div class="Title">Password</div>
		<div class="Input"><input class="Text" type="Password" name="password" /><span class="Error">!PASSWORDERROR!</span></div>
	</div>
	<div class="Block"><input type="submit" name="submit" value="Login" /></div>
	</form>
</div>

!ADMINFOOTER!