<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>!METATITLE!</title>
	<meta name="description" content="!METADESCRIPTION!" />
	<meta name="keywords" content="!METAKEYWORDS!" />
	<meta name="robots" content="ALL" />
	<link rel="stylesheet" href="!SITEROOT!templates/Toys/images/styles.css" type="text/css" />
	<link rel="stylesheet" href="!SITEROOT!templates/Toys/images/usercp.css" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="!METATITLE! News" href="!SITEROOT!rss/" />
	<link rel="shortcut icon" type="image/ico" href="!SITEROOT!favicon.ico" />
	<style type="text/css"><!--
		#MAIN div.mask { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='!SITEROOT!templates/Toys/images/game_frame.png'); }
		#MAIN .Featured div.ShotMask { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='!SITEROOT!templates/Toys/images/featured_frame.png'); }
 -->
	</style>
	
	<script type="text/javascript">
	function switchto( tab ){
		if( tab == "read" )
		{
		   	document.getElementById("feedbacknav_in").style.display="none"; 
		   	document.getElementById("feedbackpost").style.display="none"; 
			document.getElementById("feedbackread").style.display="block"; 
		}
		else
		{
		   	document.getElementById("feedbacknav_in").style.display="block"; 
		   	document.getElementById("feedbackpost").style.display="block"; 
			document.getElementById("feedbackread").style.display="none"; 
		}
	}  
	</script>
</head>
