<div class="Category">
	<h2><span class="Start"><span class="End">!LISTSORTSTR! !CATEGORY! Games</span></span></h2>
	<div style="float:left; width:30%; ">
	<p>
<!-- BEGIN DYNAMIC BLOCK: dynListCol0 -->
	<a href="!LISTURL!">!LISTTITLE!</a><br />
<!-- END DYNAMIC BLOCK: dynListCol0 -->
	</p>
	</div>

	<div style="float:left; width:29%; margin-left:5%;">
	<p>
<!-- BEGIN DYNAMIC BLOCK: dynListCol1 -->
	<a href="!LISTURL!">!LISTTITLE!</a><br />
<!-- END DYNAMIC BLOCK: dynListCol1 -->
	</p>
	</div>

	<div style="float:left; width:29%; margin-left:5%;">
	<p>
<!-- BEGIN DYNAMIC BLOCK: dynListCol2 -->
	<a href="!LISTURL!">!LISTTITLE!</a><br />
<!-- END DYNAMIC BLOCK: dynListCol2 -->
	</p>
	</div>
</div>


