<h2 class="Special">My Favorites</h2>
<div class="Box">
	<span class="Small">!FAVMESSAGE!</span>
	<ul>
<!-- BEGIN DYNAMIC BLOCK: dynFavorites -->	
<li><a href="!FAVURL!" title="!FAVNAME!">!FAVNAME!</a> <a class="RemoveFavorite" href="!REMFAVURL!" title="Remove from favorites">x</a></li>
<!-- END DYNAMIC BLOCK: dynFavorites -->
	</ul>
<!-- BEGIN DYNAMIC BLOCK: dynAddFavorite -->	
	<p><a href="!ADDFAVURL!" title="Add to favorites" class="Small">Add this game to favorites</a></p>
<!-- END DYNAMIC BLOCK: dynAddFavorite -->
<!-- BEGIN DYNAMIC BLOCK: dynLogout -->	
	<p class="Small alignright" style="border-top:1px solid #F0960C; padding-top:4px;"><a href="!SITEROOT!user/logout/" title="Logout">Logout</a></p>
<!-- END DYNAMIC BLOCK: dynLogout -->
</div>
<div class="BoxFooter"></div>