!HEAD!
<body>
<div id="Root">

<div id="Head"><div class="wrap">
		!MAINNAV!
		<h1><a href="!SITEROOT!" title="!TITLE!"><span>!TITLE!</span></a></h1>
</div></div>

<div id="Content">
<div class="Side Left">
	!GAMESNAV!
	!COMBO!
	!SIDEAD1!
	!FAVORITES!
	!SEARCH!
	!TOPRATED!
</div>

<div id="Main">
	!PATH!
	!PAGECONTENTS!
</div>

<div class="Side Right">
	!MOSTPLAYEDTODAY!	
	!RANDOM!
	!RECENT!
	!MOSTPLAYED!
	!NEWS!
	!TOPUSERS!
	!SITEFEEDBACK!
	!STATS!
</div>

</div>
!FOOTER!
</div>
</body>
</html>
