<h3>My Favorites</h3>
!USERFAVMESSAGE!
<ul id="Favorites">
<!-- BEGIN DYNAMIC BLOCK: dynUserFavorites -->
	<li>
  		<div class="Thumb">
			<a href="!GAMEURL!"><img class="Thumb" src="!IMG!" alt="Play !GAMETITLE!" /><span class="mask"></span></a>
		</div>
		<a class="title" href="!GAMEURL!">!GAMETITLE!</a>
	</li>
<!-- END DYNAMIC BLOCK: dynUserFavorites -->
</ul>
<p class="Clear">&nbsp;</p>

<h3>Friends' Favorites</h3>
!FRIENDFAVMESSAGE!
<ul id="Favorites">
<!-- BEGIN DYNAMIC BLOCK: dynFriendFavorites -->
	<li>
  		<div class="Thumb">
			<a href="!GAMEURL!"><img class="Thumb" src="!IMG!" alt="Play !GAMETITLE!" /><span class="mask"></span></a>
		</div>
		<a class="title" href="!GAMEURL!">!GAMETITLE!</a>
	</li>
<!-- END DYNAMIC BLOCK: dynFriendFavorites -->
</ul>
<p class="Clear">&nbsp;</p>
