<h3>Restore Password</h3>
<p>Please enter your username and e-mail address used during registration on our site.<br />
We will send you a new password to that address.</p>
<form class="Form" action="!SITEROOT!user/lostpassword/" method="post">
	<div class="Block">
		<div class="Title">Username</div>
		<div class="Input"><input value="!USERNAME!" class="Text" type="text" name="username" /><span class="Error">!USERNAMEERROR!</span></div>
	</div>
	<div class="Block">
		<div class="Title">E-mail</div>
		<div class="Input"><input class="Text" type="text" name="email" value="!EMAIL!" /><span class="Error">!EMAILERROR!</span></div>
	</div>
	<div class="Block"><input type="submit" name="submit" value="Submit" /></div>
</form>
<p>Don't have an  account yet? Create one <a href="!SITEROOT!user/register/">here</a>.</p>